<div class="container">
    <h3 class="drinkName">{{drinkName}}</h3>

    <div class="nav">
        <span ng-click="recipeBack()" class="cycle">&lt;</span>
        <a class="back" href="#/recipeListView">Back</a>
        <span ng-click="recipeForward()" class="cycle">&gt;</span>
    </div>
    <div class="ingredientsAndDirections">
        <div class="ingredients">
            <ul>
                <li class="lineItem" ng-repeat="item in recipeIngredients">{{item}}</li>
            </ul>
        </div>
        <div class="directions">
            <ol>
                <li class="lineItem" ng-repeat="item in recipeDirections">{{item}}</li>
            </ol>
        </div>
    </div>
</div>
