<div>
    <h1>Recipes</h1>
    <input ng-model="filter.any" placeholder="Search for recipes, ingredients..." autofocus>
    <label>Spirit:
        <select ng-model="filter.spirit">
            <option value="">-- Choose a Spirit --</option>
            <option ng-repeat="spirit in spirits | orderBy: spirit" value="{{spirit}}">{{spirit}}</option>
        </select>
    </label>
    <label>
        <input type="radio" ng-model="direction" name="direction" checked>
        A-Z
    </label>
    <label>
        <input type="radio" ng-model="direction" name="direction" value="reverse">
        Z-A
    </label>
</div>
<ul>
    <li class="list" ng-repeat="item in recipe | filter:filter.any | filter:{spirit: filter.spirit} |  orderBy: recipeOrder:direction">
        <a class="link" href="#/recipeDetailsView/{{recipe.indexOf(item)}}">
            <div class="item">
                <!--<img class="listImage" ng-src="assets/img/{{item.shortName}}.jpg" />-->
                <p class="listName">{{item.name}}</p>
            </div>
        </a>
    </li>
</ul>

